/*Aileron*/
@font-face {
    font-family: 'Aileron-Black';
    src:
        url('../Fonts/Aileron/Aileron-Black.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-Black.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-Black.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-Black.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-Black.svg#Aileron-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-BlackItalic';
    src:
        url('../Fonts/Aileron/Aileron-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-BlackItalic.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-BlackItalic.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-BlackItalic.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-BlackItalic.svg#Aileron-BlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-Bold';
    src:
        url('../Fonts/Aileron/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-Bold.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-Bold.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-Bold.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-Bold.svg#Aileron-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-BoldItalic';
    src:
        url('../Fonts/Aileron/Aileron-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-BoldItalic.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-BoldItalic.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-BoldItalic.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-BoldItalic.svg#Aileron-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-Heavy';
    src:
        url('../Fonts/Aileron/Aileron-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-Heavy.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-Heavy.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-Heavy.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-Heavy.svg#Aileron-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-HeavyItalic';
    src:
        url('../Fonts/Aileron/Aileron-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-HeavyItalic.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-HeavyItalic.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-HeavyItalic.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-HeavyItalic.svg#Aileron-HeavyItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-Italic';
    src:
        url('../Fonts/Aileron/Aileron-Italic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-Italic.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-Italic.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-Italic.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-Italic.svg#Aileron-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-Light';
    src:
        url('../Fonts/Aileron/Aileron-Light.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-Light.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-Light.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-Light.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-Light.svg#Aileron-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-LightItalic';
    src:
        url('../Fonts/Aileron/Aileron-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-LightItalic.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-LightItalic.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-LightItalic.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-LightItalic.svg#Aileron-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-Regular';
    src:
        url('../Fonts/Aileron/Aileron-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-Regular.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-Regular.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-Regular.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-Regular.svg#Aileron-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-SemiBold';
    src:
        url('../Fonts/Aileron/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-SemiBold.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-SemiBold.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-SemiBold.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-SemiBold.svg#Aileron-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-SemiBoldItalic';
    src:
        url('../Fonts/Aileron/Aileron-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-SemiBoldItalic.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-SemiBoldItalic.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-SemiBoldItalic.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-SemiBoldItalic.svg#Aileron-SemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-Thin';
    src:
        url('../Fonts/Aileron/Aileron-Thin.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-Thin.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-Thin.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-Thin.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-Thin.svg#Aileron-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-ThinItalic';
    src:
        url('../Fonts/Aileron/Aileron-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-ThinItalic.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-ThinItalic.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-ThinItalic.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-ThinItalic.svg#Aileron-ThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-UltraLight';
    src:
        url('../Fonts/Aileron/Aileron-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-UltraLight.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-UltraLight.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-UltraLight.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-UltraLight.svg#Aileron-UltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron-UltraLightItalic';
    src:
        url('../Fonts/Aileron/Aileron-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Aileron/Aileron-UltraLightItalic.otf')  format('opentype'),
        url('../Fonts/Aileron/Aileron-UltraLightItalic.woff') format('woff'),
        url('../Fonts/Aileron/Aileron-UltraLightItalic.ttf')  format('truetype'),
        url('../Fonts/Aileron/Aileron-UltraLightItalic.svg#Aileron-UltraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Anivers*/
@font-face {
    font-family: 'Anivers-Regular';
    src:
        url('../Fonts/Anivers/Anivers-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Anivers/Anivers-Regular.otf')  format('opentype'),
        url('../Fonts/Anivers/Anivers-Regular.woff') format('woff'),
        url('../Fonts/Anivers/Anivers-Regular.ttf')  format('truetype'),
        url('../Fonts/Anivers/Anivers-Regular.svg#Anivers-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*ArcherusGrotesque*/
@font-face {
    font-family: 'AcherusGrotesque-Regular';
    src:
        url('../Fonts/ArcherusGrotesque/AcherusGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/ArcherusGrotesque/AcherusGrotesque-Regular.otf')  format('opentype'),
        url('../Fonts/ArcherusGrotesque/AcherusGrotesque-Regular.woff') format('woff'),
        url('../Fonts/ArcherusGrotesque/AcherusGrotesque-Regular.ttf')  format('truetype'),
        url('../Fonts/ArcherusGrotesque/AcherusGrotesque-Regular.svg#AcherusGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Fontin*/
@font-face {
    font-family: 'Fontin-Bold';
    src:
        url('../Fonts/Fontin/Fontin-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Fontin/Fontin-Bold.woff') format('woff'),
        url('../Fonts/Fontin/Fontin-Bold.ttf')  format('truetype'),
        url('../Fonts/Fontin/Fontin-Bold.svg#Fontin-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fontin-Italic';
    src:
        url('../Fonts/Fontin/Fontin-Italic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Fontin/Fontin-Italic.woff') format('woff'),
        url('../Fonts/Fontin/Fontin-Italic.ttf')  format('truetype'),
        url('../Fonts/Fontin/Fontin-Italic.svg#Fontin-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fontin-Regular';
    src:
        url('../Fonts/Fontin/Fontin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Fontin/Fontin-Regular.woff') format('woff'),
        url('../Fonts/Fontin/Fontin-Regular.ttf')  format('truetype'),
        url('../Fonts/Fontin/Fontin-Regular.svg#Fontin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fontin-SmallCaps';
    src:
        url('../Fonts/Fontin/Fontin-SmallCaps.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Fontin/Fontin-SmallCaps.woff') format('woff'),
        url('../Fonts/Fontin/Fontin-SmallCaps.ttf')  format('truetype'),
        url('../Fonts/Fontin/Fontin-SmallCaps.svg#Fontin-SmallCaps') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Georgia*/
@font-face {
    font-family: 'Georgia';
    src:
        url('../Fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Georgia/Georgia.woff') format('woff'),
        url('../Fonts/Georgia/Georgia.ttf')  format('truetype'),
        url('../Fonts/Georgia/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia-Bold';
    src:
        url('../Fonts/Georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Georgia/Georgia-Bold.woff') format('woff'),
        url('../Fonts/Georgia/Georgia-Bold.ttf')  format('truetype'),
        url('../Fonts/Georgia/Georgia-Bold.svg#Georgia-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia-BoldItalic';
    src:
        url('../Fonts/Georgia/Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Georgia/Georgia-BoldItalic.woff') format('woff'),
        url('../Fonts/Georgia/Georgia-BoldItalic.ttf')  format('truetype'),
        url('../Fonts/Georgia/Georgia-BoldItalic.svg#Georgia-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia-Italic';
    src:
        url('../Fonts/Georgia/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Georgia/Georgia-Italic.woff') format('woff'),
        url('../Fonts/Georgia/Georgia-Italic.ttf')  format('truetype'),
        url('../Fonts/Georgia/Georgia-Italic.svg#Georgia-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*ProximaNova*/
@font-face {
    font-family: 'ProximaNova-Black';
    src:
        url('../Fonts/ProximaNova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Black.otf')  format('opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Black.woff') format('woff'),
        url('../Fonts/ProximaNova/ProximaNova-Black.ttf')  format('truetype'),
        url('../Fonts/ProximaNova/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src:
        url('../Fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Bold.otf')  format('opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
        url('../Fonts/ProximaNova/ProximaNova-Bold.ttf')  format('truetype'),
        url('../Fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-BoldIt';
    src:
        url('../Fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/ProximaNova/ProximaNova-BoldIt.otf')  format('opentype'),
        url('../Fonts/ProximaNova/ProximaNova-BoldIt.woff') format('woff'),
        url('../Fonts/ProximaNova/ProximaNova-BoldIt.ttf')  format('truetype'),
        url('../Fonts/ProximaNova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Extrabld';
    src:
        url('../Fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Extrabld.otf')  format('opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff'),
        url('../Fonts/ProximaNova/ProximaNova-Extrabld.ttf')  format('truetype'),
        url('../Fonts/ProximaNova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Light';
    src:
        url('../Fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Light.otf')  format('opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
        url('../Fonts/ProximaNova/ProximaNova-Light.ttf')  format('truetype'),
        url('../Fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src:
        url('../Fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Regular.otf')  format('opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
        url('../Fonts/ProximaNova/ProximaNova-Regular.ttf')  format('truetype'),
        url('../Fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src:
        url('../Fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Semibold.otf')  format('opentype'),
        url('../Fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
        url('../Fonts/ProximaNova/ProximaNova-Semibold.ttf')  format('truetype'),
        url('../Fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}





