@media (max-width: 1350px) {
    .site-info-2 div:last-of-type .icons {
        display: block;
        margin: 10px;
    }
    .single-post article figure {
        margin: -130px 25px 25px -35px;
    }
    .wpcf7-response-output {
        left: 20%;
    }
    .wpcf7-response-output {
        left: 37%;
    }
}
@media (max-width: 1150px) {
    #reviews-big .review-button .motopress-button-obj {
        position: absolute !important;
    }
    #reviews-big .strong-view.default .testimonial-image {
        width: 105px;
        height: 105px;
        top: -65px;
        left: -65px;
    }
    #reviews-big .strong-view.default .testimonial-image img {
        min-width: 150px;
        height: 150px;
    }
    #tipe-top .mp-span3 {
        display: none;
    }
    #tipe-top .mp-span9 {
        width: 100%;
    }
    #tipe-top .top2 {
        margin-top: 170px;
    }
    #page-type .crellyslider .cs-next {
        right: 10px;
    }
    #page-type .crellyslider .cs-previous {
        left: 10px;
    }
    .wpcf7-response-output {
        left: 34%;
    }
}
@media (max-width: 1050px) {
    #contact-top {
        margin-bottom: 125px;
    }
    #contact-form .contact-form {
        display: flex;
        flex-direction: column;
        max-width: 805px;
    }
    #contact-form .contact-form .mp-span4,
    #contact-form .contact-form .mp-span8 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #contact-form .contact-form .mp-span8 h3 {
        text-align: left;
    }
    #contact-form {
        margin-bottom: 50px;
    }
    .wpcf7-response-output {
        left: 29%;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-prev {
        left: 43%;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-next {
        left: 47%;
    }
}
@media (max-width: 1000px) {
    .container {
        width: 100% !important;
    }
    #stat .stat {
        justify-content: center;
    }
    .blog .site-main .entry-thumbnail,
    .tag .site-main .entry-thumbnail {
        display: none;
    }
    .blog .site-main article,
    .tag .site-main article,
    .blog .site-main article:nth-child(2),
    .tag .site-main article:nth-child(3) {
        align-items: center;
        max-width: 655px;
    }
    .blog .site-main article .entry-header,
    .blog .site-main article .entry-meta,
    .blog .site-main article .entry-permalink,
    .tag .site-main article .entry-header,
    .tag .site-main article .entry-meta,
    .tag .site-main article .entry-permalink {
        max-width: 460px;
    }
    #reviews-big .strong-view.default .testimonial-image {
        top: -100px;
        left: -10px;
    }
    #tipe-top {
        padding-top: 100px;
    }
    .wpcf7-response-output {
        left: 26%;
    }
}
@media (max-width: 965px) {
    .block {
        margin: 25px 10px !important;
    }
    .type .motopress-button-inner-obj a:after {
        left: 44%;
    }
    #type {
        height: 100%;
    }
    #type .type .motopress-button-group-inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj {
        width: 33%;
    }
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj:after {
        left: 34%;
    }
    #type .type .motopress-button-inner-obj a:after {
        left: 45%;
    }
    #page-type .crellyslider .cs-next {
        right: 0;
    }
    #page-type .crellyslider .cs-previous {
        left: 0;
    }
    .wpcf7-response-output {
        left: 25%;
    }
}
@media (max-width: 865px) {
    #type .type .motopress-button-inner-obj a:after {
        left: 46%;
    }
    #error404 .error404 {
        height: 500px;
    }
    #reviews-big .strong-view .testimonial .testimonial-inner {
        margin-left: 20px;
    }
    #tipe-top .top2 {
        margin-top: 120px;
    }
    #page-type .crellyslider .cs-next {
        right: -10px;
    }
    #page-type .crellyslider .cs-previous {
        left: -10px;
    }
    .wpcf7-response-output {
        left: 24%;
    }
}
@media (max-width: 810px) {
    .site-info-2 {
        margin: 0 100px !important;
    }
    .site-info-2 div {
        width: 50% !important;
    }
    .site-info-2 div:last-of-type .icons {
        display: inline-block;
    }
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj:after {
        left: 32%;
    }
    #type .type .motopress-button-inner-obj a:after {
        left: 45%;
    }
    #error404 .error404 {
        height: 475px;
    }
    #tipe-top .top2 {
        margin-top: 30px;
    }
    .wpcf7-response-output {
        left: 20%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: -10%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: 26%;
    }
}
@media (max-width: 768px) {
    #head .mp-row-fluid {
        justify-content: center;
    }
    #head .mp-row-fluid .mp-span6:first-child {
        min-width: 320px;
        margin-top: 100px;
    }
    #head .wpcf7 {
        margin: 0;
    }
    .wpcf7 form {
        float: none;
        margin: 0 auto;
    }
    #blocks {
        margin-top: 235px;
    }
    .type .motopress-button-inner-obj a:after {
        left: 49%;
    }
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj:after {
        left: 30%;
    }
    #map {
        margin-bottom: 0;
    }
    #error404 .error404 {
        height: 450px;
    }
    #reviews-big .strong-view.default .testimonial-image img {
        width: 105px !important;
        min-height: 105px !important;
    }
    #reviews-big .strong-view.default .testimonial-image {
        border-radius: 50%;
        top: -85px;
    }
    #reviews-big .strong-view .testimonial-content {
        padding: 20px 20px 20px 40px !important;
    }
    #wpmtst-form .strong-form-inner {
        padding: 10px 20px;
    }
    .strong-form .form-field {
        margin-bottom: 5px;
    }
    #wpmtst-form .strong-form-inner .required-notice {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .strong-form .field-rating,
    .strong-form .field-client_name,
    .strong-form .field-post_title {
        display: flex;
    }
    .strong-form .form-rating {
        align-items: center;
    }
    .strong-form .field-client_name label,
    .strong-form .field-post_title label {
        margin-bottom: 0;
    }
    #test-text {
        height: 100px;
    }
    .field-featured_image label:last-of-type:before {
        top: 34px;
    }
    #reviews-big .review-button .motopress-button-obj {
        bottom: -40px;
    }
    #page-type .crellyslider .cs-next {
        right: -20px;
    }
    #page-type .crellyslider .cs-previous {
        left: -20px;
    }
    #type-mdl .type-step {
        min-width: 130px;
    }
    #type-btm h2 {
        margin-top: 150px;
    }
    #faq .faq .close-faq {
        top: 0;
        right: 0;
    }
    #tos .tos1 .close-tos {
        top: 0;
        right: 0;
    }
    #rewievs .strong-view-id-2 {
        margin-top: 100px;
    }
    #rewievs {
        height: 508px;
    }
    #contact-top {
        height: 608px;
    }
    #contact-top .contacts {
        margin-top: 0;
    }
    .blog-head {
        height: 608px !important;
    }
    .wpcf7-response-output {
        left: 17%;
    }
    .wpcf7-response-output {
        left: 34%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: 24%;
    }
    .blocks {
        margin-bottom: 0 !important;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-prev {
        left: 42%;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-next {
        left: 48%;
    }
    .single-post article figure {
        margin: -176px 20px 20px -35px;
        transform: scale(0.78);
        max-height: 420px;
    }
    .single-post article figure .posted-on {
        bottom: -45px;
    }
    .single-post article figure .posted-on:before {
        left: 39px;
    }
    .single-post .article-single .entry-meta-top {
        padding-left: 345px;
    }
    .related-posts_item {
        flex-direction: row;
    }
    .related-posts_item {
        flex-direction: column;
    }
    .related-posts h3 {
        margin-bottom: 15px;
    }
    .related-posts h4 {
        margin: 0;
    }
    .related-posts_item {
        margin: 0 auto 10px !important;
    }
    .related-posts .slick-slide {
        display: flex;
        outline: none !important;
    }
    .related-posts_item figure {
        transform: scale(0.85);
    }
}
@media (max-width: 710px) {
    .type .motopress-button-inner-obj a:after {
        left: 44%;
    }
    #error404 .error404 {
        height: 425px;
    }
    #rewievs .wpmslider-wrapper, #rewievs .testimonial {
        min-width: 475px;
        max-width: 475px;
    }
    #rewievs .wpmslider-wrapper .testimonial-inner {
        padding-left: 25px;
    }
    #tipe-top .left .motopress-service-box-icon-section {
        display: none;
    }
    #tipe-top .left .motopress-service-box-obj {
        margin: 0 !important;
    }
    #tipe-top .left .motopress-service-box-text-heading-wrapper {
        padding: 30px !important;
    }
    #tipe-top .left .motopress-service-box-text-heading-wrapper h3 {
        margin: 0 !important;
    }
    #rewievs {
        height: 458px;
    }
    #rewievs .strong-view-id-2{
        margin-top: 90px;
    }
    .wpcf7-response-output {
        left: 32%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: 21%;
    }
    #testimonials .wpmslider-viewport {
        height: 290px !important;
    }
    #testimonials .wpmslider-wrapper .testimonial {
        width: 315px !important;
        height: 260px !important;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-prev {
        left: 38%;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-next {
        left: 46%;
    }
}
@media (max-width: 610px) {
    .site-info-2 {
        margin: 0 100px !important;
    }
    .site-info-2 div {
        width: 100% !important;
    }
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj:after {
        left: 25%;
    }
    #error404 .error404 {
        height: 400px;
    }
    .wpcf7-response-output {
        left: 30%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: 16%;
    }
}
@media (max-width: 600px) {
    #header nav {
        min-width: auto;
    }
    #menu-primary-items {
        background: rgba(24, 46, 56, 0.9);
        flex-direction: column;
        position: absolute;
        top: 66px;
        right: 0;
        border-radius: 20px;
        border: 1px solid #3fa6e9;
    }
    #header nav li:last-child a {
        color: #2b2e3f;
    }
    .simple-menu.menu-items[aria-expanded="true"] {
        display: flex !important;
    }
    .menu-primary li {
        padding: 10px 0;
    }
    #form-button {
        z-index: 8;
    }
    #tos, #faq, #coupon {
        z-index: 8;
    }
    #faq .faq {
        padding: 37px 15px;
    }
    #tos .tos1 {
        padding: 35px;
    }

    .form-button .close-form-but .motopress-button-obj a {
        top: 0;
        right: 0;
    }
    #header nav li:last-child a {
        margin-left: 0;
    }
    #error404 .error404 {
        height: 375px;
    }
    #blocks {
        margin-top: 300px;
    }
    /*#blocks .block:nth-last-child(2),
    #blocks .block:nth-last-child(3),
    #blocks .block:last-of-type {
        display: none;
    }*/
    #page-type .crellyslider .cs-next {
        right: -30px;
    }
    #page-type .crellyslider .cs-previous {
        left: -30px;
    }
    #page-type .crellyslider .cs-controls {
        top: 94%;
    }
    #page-type {
        height: 608px;
    }
}
@media (max-width: 550px) {
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj {
        width: 50%;
    }
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj:after {
        left: 32%;
    }
    .blog .site-main article .entry-header,
    .blog .site-main article .entry-meta,
    .blog .site-main article .entry-permalink,
    .tag .site-main article .entry-header,
    .tag .site-main article .entry-meta,
    .tag .site-main article .entry-permalink {
        max-width: 345px;
    }
    #error404 .error404 {
        height: 350px;
    }
    #error404 .error404 div {
        margin-bottom: -75px;
    }
    #header nav li:last-child a {
        color: #31d78f;
    }
    .wpcf7-response-output {
        left: 27%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: 13%;
        top: 44%;
    }
}
@media (max-width: 480px) {
    #blocks .block .motopress-cta-obj .motopress-button-wrap .motopress-btn {
        background: #31d78f;
        border: none;
        color: #fff;
        -webkit-box-shadow: 0px 5px 20px 5px rgba(7, 9, 11, 0.19);
        -moz-box-shadow: 0px 5px 20px 5px rgba(7, 9, 11, 0.19);
        box-shadow: 0px 5px 20px 5px rgba(7, 9, 11, 0.19);
        padding: 11px 20px;
        font: 13px/18px "Roboto-Regular", sans-serif;
    }
    #reviews-big .strong-view .testimonial-content {
        padding: 20px !important;
    }
    #blocks .block .motopress-cta-obj .motopress-cta .motopress-button-wrap {
        padding: 0 !important;
    }
    .block {
        margin: 30px 10px 100px !important;
    }
    #type .type .motopress-button-inner-obj a:after {
        left: 47%;
    }
    .contact-form .wpcf7 form div {
        flex-direction: column;
    }
    .contact-form .wpcf7 input,
    .contact-form .wpcf7 textarea,
    #location .my-location .motopress-button-obj input {
        max-width: 240px;
    }
    #contact-form {
        margin-bottom: 100px;
    }
    #contact-top {
        margin-bottom: 175px;
    }
    #contact-top .contact-us .motopress-text-obj {
        margin-left: 0;
    }
    #error404 .error404 {
        height: 325px;
    }
    #error404 {
        margin-bottom: 150px;
    }
    #faq .motopress-accordion-item {
        transform: scale(0.8);
        margin-left: -35px;
    }
    #rewievs .wpmslider-wrapper,
    #rewievs .testimonial {
        min-width: 320px !important;
        max-width: 320px !important;
    }
    .strong-view-id-2 .wpmslider-wrapper .testimonial-inner img {
        right: 0;
        top: 75px;
    }
    #rewievs .wpmslider-wrapper .testimonial-inner {
        padding-left: 15px;
    }
    #rewievs .strong-view-id-2 .testimonial-client a {
        min-width: 146px;
    }
    #rewievs .strong-view-id-2 .testimonial-name {
        margin: 10px 0 0 10px;
    }
    #rewievs {
        height: 408px;
    }
    #map {
        height: 300px;
    }
    .block header {
        margin: -20px 0 0;
    }
    #blocks .slick-track {
        height: auto;
    }
    #blocks {
        margin-top: 300px;
    }
    #rewievs .strong-view-id-2 {
        margin-top: 50px;
    }
    #page-type .crellyslider .cs-controls {
        display: none !important;
    }
    #page-type .crellyslider .cs-navigation .cs-slide-link {
        width: 12px;
        height: 12px;
    }
    #page-type .crellyslider .cs-navigation .cs-active {
        width: 16px;
        height: 16px;
    }
    #page-type a:before {
        height: 30px;
    }
    #type-mdl .mdl2 .mdl-text {
        margin-left: 20px;
    }
    #type-mdl .type-step {
        min-width: 100px;
        height: 100px;
    }
    #type-mdl .type-step,
    #type-mdl .type-step div {
        background-size: 100% 100%;
    }
    #type-mdl .mdl-img {
        display: none;
    }
    #type-mdl .type-step:after {
        display: none;
    }
    .wpcf7-response-output {
        left: 25%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: 6%;
    }
    .single-post article figure,
    .related-posts_item figure {
        display: none;
    }
    .single-post .article-single .entry-meta-top {
        padding-left: 0;
    }
    .contact-top .articles-us .motopress-text-obj {
        margin-left: 0;
    }
}
@media (max-width: 435px) {
    .wpcf7 form {
        padding: 25px 10px;
    }
    .wpcf7 .form1 {
        padding: 0 5px 0 0;
    }
    .wpcf7 .form1:last-of-type {
        padding: 0 0 0 5px;
    }
    .site-info-2 {
        margin: 0 50px !important;
    }
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj:after {
        left: 27%;
    }
    #type .type .motopress-button-inner-obj a:after {
        left: 44%;
    }
    .blog .site-main article .entry-header,
    .blog .site-main article .entry-meta,
    .blog .site-main article .entry-permalink,
    .tag .site-main article .entry-header,
    .tag .site-main article .entry-meta,
    .tag .site-main article .entry-permalink {
        max-width: 235px;
    }
    #error404 .error404 {
        height: 300px;
    }
    #error404 .error404 div {
        margin-bottom: -100px;
    }
    #faq .motopress-accordion-item {
        transform: scale(0.75);
        margin-left: -45px;
    }
    #wpmtst-form .close-form {
        top: 0;
        right: 0;
    }
    #page-type a:before {
        height: 27px;
    }
    #page-type {
        height: 508px;
    }
    .wpcf7-response-output {
        left: 21%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: 0;
    }
    #testimonials .wpmslider-viewport {
        height: 240px !important;
    }
    #testimonials .wpmslider-wrapper .testimonial {
        width: 400px !important;
        height: 220px !important;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-prev {
        left: 33%;
    }

}
@media (max-width: 375px) {
    .site-info-2 {
        margin: 0 25px !important;
    }
    #type .motopress-button-inner-obj {
        width: 100%;
    }
    #type .type .motopress-button-inner-obj a:after {
        left: 43%;
    }
    #type .type .motopress-button-group-inner-wrapper .motopress-button-inner-obj:after {
        left: 23%;
    }
    .blog .blog-head .articles-us .motopress-text-obj,
    .tag .contact-top .articles-us .motopress-text-obj {
        margin-left: 0;
    }
    #error404 .error404 {
        height: 275px;
    }
    #error404 .error404 div {
        margin-bottom: -125px;
    }
    #faq .motopress-accordion-item {
        transform: scale(0.65);
        margin-left: -65px;
    }
    .faq .faq-list {
        min-height: 300px;
        max-height: 80%;
    }
    #reviews-big .strong-view .testimonial-client {
        left: 120px;
    }
    #reviews-big .strong-view .page-numbers {
        margin: 0 1px;
    }
    #rewievs .wpmslider-wrapper,
    #rewievs .testimonial {
        min-width: 300px !important;
        max-width: 300px !important;
    }
    #page-type {
        height: 408px;
    }
    #page-type a:before {
        height: 23px;
    }
    .wpcf7-response-output {
        left: 17%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        left: -7%;
    }
    #testimonials .wpmslider-viewport {
        height: 270px !important;
    }
    #testimonials .wpmslider-wrapper .testimonial {
        width: 360px !important;
        height: 250px !important;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-prev {
        left: 32%;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-next {
        left: 44%;
    }
}
@media (max-width: 320px) {
    .site-info-2 {
        margin: 0 10px !important;
    }
    #contact-top {
        margin-bottom: 200px;
    }
    #error404 .error404 {
        height: 250px;
    }
    #page-type a:before {
        height: 20px;
    }
    .wpcf7-response-output {
        left: 13%;
    }
    #contact-form form .wpcf7-mail-sent-ok {
        width: 300px;
        left: -17%;
        top: 56%;
    }
    #testimonials .wpmslider-viewport {
        height: 290px !important;
    }
    #testimonials .wpmslider-wrapper .testimonial {
        width: 320px !important;
        height: 270px !important;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-prev {
        left: 27%;
    }
    #testimonials .strong-view.controls-type-sides .wpmslider-next {
        left: 44%;
    }
    .single-post .article-single .entry-meta-top {
        padding-left: 0;
    }
    .related-posts_item {
        flex-direction: column;
    }
    .related-posts h3 {
        margin-bottom: 15px;
    }
    .related-posts_item {
        margin: 0 auto 10px !important;
    }
    .related-posts_item h4 {
        margin: 0;
    }
}